# OS Specific
.DS_Store
.Trash

# Vagrant
.vagrant

# Composer
www/vendor

# VCCW
www/.gitignore

node_modules
america/node_modules
yali/node_modules
yseali/node_modules

america/www
yali/www
yseali/www
share/www

america/wp-config.php
yali/wp-config.php
yseali/wp-config.php
share/wp-config.php

keys/
*.sql

#extra sites
Courses
whitelabel
ylai